<%- include('partials/head.ejs') %>
<body id="bodyLogin">
    <%- include('partials/header.ejs') %>
    <main>
        <form action="/login" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">LOG IN</button>
            <% if (error) { %>
                <p><%= error %></p>
            <% } %>
        </form>
<%- include('partials/footer.ejs') %>