<%- include('partials/head.ejs') %>
<body id="bodyRegister">
    <%- include('partials/header.ejs') %>
    <main>
        <form action="/register" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <a href="/login">Already have an account? Log In!</a>
            <button type="submit">REGISTER</button>
            <% if (error) { %>
                <p><%= error %></p>
            <% } %>
        </form>
<%- include('partials/footer.ejs') %>
