html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
html{
    font-size: 1vw;
}
body{
    min-height: 100vh;
    background-color: black;
}
body, header, #gameContainer{
    flex-direction: column;
}
main{
    flex-grow: 1;
}
footer, header, body, header nav, header div, #bodyHome main, #gameContainer, #gameContainer div{
    display: flex;
}
footer, header nav, header div{
    justify-content: space-evenly;
}
footer{
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}
header{
    padding-top: 1rem;
    justify-content: space-between;
    gap:1rem;
}
header nav a{
    text-decoration: none;
}
header nav a:hover{
    text-decoration: underline;
}
header div p, header nav, footer p{
    font-size: 1rem;
}
.userInfo{
    font-style: italic;
}
/* INDEX STUFF */
#bodyHome main, #gameContainer{
    justify-content: center;
    align-items: center;
}
#gameContainer{
    justify-content: space-evenly;
    width: 50%;
    height: 50vh;
}
#gameContainer div{
    justify-content: space-evenly;
    width: 100%;
}
#gameContainer div button{
    font-size: 2rem;
    padding: 1rem;
}
#btnHolder{
    align-items: center;
}

/* HIGHSCORE STYLES */
#bodyHighscores main, #bodyHighscores main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bodyHighscores main div{
    justify-content: center;
}
table{
    text-align: center;
}
thead, #gameContainer div, header div h1{
    font-size: 3rem;
}
th{
    padding-bottom: 1rem;
}
td{
    padding: 0 1.5rem;
    padding-bottom: 0.5rem;
}
/* LOGIN Y REGISTER */
#bodyLogin main, #bodyRegister main, #bodyLogin form, #bodyRegister form, #bodyOptions main, main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bodyLogin form, #bodyRegister form{
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 25rem;
}
#bodyLogin form input, #bodyRegister form input, #bodyLogin form button, #bodyRegister form button, #bodyLogin form, #bodyRegister form{
    font-size: 1.5rem;
}
#bodyLogin form button, #bodyRegister form button{
    background-color: white;
    padding: 1rem;
}
/* OPTIONS PAGE */
#bodyOptions main div{
    width: 50%;
    height: 25rem;
    flex-direction: column; 
}
#bodyOptions main div p, #bodyOptions main div button, tbody{
    font-size: 2rem;
}
#bodyOptions main div p{
    margin-bottom: 1rem;
}
#bodyOptions main div button{
    padding: 1rem;
}
/* COLORS */
#bodyOptions main div button:active, #bodyOptions main div p, #bodyLogin form, #bodyRegister form, #btnHi:active, #btnLo:active, #score span, #numeral span, #gameContainer, header, footer{
    color:white; 
}
header, footer{
    background-color: rgba(76, 0, 255, 0.75);
}
#btnHi{
    background-color: greenyellow;
}
#btnLo, #bodyOptions main div button:active{
    background-color: crimson;
}
#btnHi:active{
    background-color: green;
}
#btnLo:active, #bodyOptions main div button{
    background-color: red;
}
#score, #numeral, thead, .userInfo{
    color:goldenrod;
}
.textGreen, table, header nav a{
    color:greenyellow;
}
.textRed, header nav a.active{
    color:crimson;
}
@media screen and (max-width: 1024px){
    html{
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 900px){
    html{
        font-size: 1.6vw;
    }
    tbody{
        font-size: 2rem;
    }
    #bodyOptions main div p{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 600px){
    html{
        font-size: 2.2vw;
    }
    .tries, .wins{
        display:none;
    }
    tbody{
        font-size: 1.5rem;
    }
    #bodyOptions main div p{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 2.3vw;
    }
    tbody{
        font-size: 1.5rem;
    }
    #bodyOptions main div p{
        font-size: 1.3rem;
    }
}
