html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
html{
    font-size: 1vw;
}
body{
    min-height: 100vh;
    background-color: black;
}
body, header, #gameContainer{
    flex-direction: column;
}
main{
    flex-grow: 1;
}
footer, header, body, header nav, header div, #bodyHome main, #gameContainer, #gameContainer div{
    display: flex;
}
footer, header nav, header div{
    justify-content: space-evenly;
}
footer{
    background-color: rgba(76, 0, 255, 0.75);
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    color:white;
}
header{
    padding-top: 1rem;
    background-color: rgba(76, 0, 255, 0.75);
    justify-content: space-between;
    gap:1rem;
    color:white;
}
header nav a{
    text-decoration: none;
    color:greenyellow;
}
header nav a:hover{
    text-decoration: underline;
}
header nav a.active{
    color:crimson;
}
header div h1{
    font-size: 3rem;
}
header div p{
    font-size: 1rem;
}
header nav{
    font-size: 1rem;
}
footer p{
    font-size: 1rem;
}
.textGreen{
    color:greenyellow;
}
.textRed{
    color:crimson;
}
.userInfo{
    font-style: italic;
    color: goldenrod;
}
/* INDEX STUFF */
#bodyHome main, #gameContainer{
    justify-content: center;
    align-items: center;
}
#gameContainer{
    justify-content: space-evenly;
    width: 50%;
    height: 50vh;
    color: white;
}
#gameContainer div{
    justify-content: space-evenly;
    width: 100%;
    font-size: 3rem;
}
#gameContainer div button{
    font-size: 2rem;
    padding: 1rem;
}
#score, #numeral{
    color:goldenrod;
}
#score span, #numeral span{
    color:white;
}
#btnHolder{
    align-items: center;
}
#btnHi{
    background-color: greenyellow;
}
#btnLo{
    background-color: crimson;
}
#btnHi:active, #btnLo:active{
    color:white;
}
#btnHi:active{
    background-color: green;
}
#btnLo:active{
    background-color: red;
}

/* HIGHSCORE STYLES */
#bodyHighscores main, #bodyHighscores main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bodyHighscores main div{
    justify-content: center;
}
table{
    text-align: center;
    color: greenyellow;
}
thead{
    font-size: 3rem;
    color: goldenrod;
}
th{
    padding-bottom: 1rem;
}
td{
    padding: 0 1.5rem;
    padding-bottom: 0.5rem;
}
tbody{
    font-size: 2rem;
}

/* LOGIN Y REGISTER */
#bodyLogin main, #bodyRegister main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bodyLogin form, #bodyRegister form{
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 25rem;
    font-size: 1.5rem;
    color:white;
}
#bodyLogin form input, #bodyRegister form input, #bodyLogin form button, #bodyRegister form button{
    font-size: 1.5rem;
}
#bodyLogin form button, #bodyRegister form button{
    background-color: white;
    padding: 1rem;
}
/* OPTIONS PAGE */
#bodyOptions main, main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bodyOptions main div{
    width: 50%;
    height: 25rem;
    flex-direction: column; 
}
#bodyOptions main div p{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}
#bodyOptions main div button{
    background-color: red;
    padding: 1rem;
    font-size: 2rem;
}
#bodyOptions main div button:active{
    background-color: crimson;
    color:white;
}